In [72]:
import re
import os
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import MultinomialNB
def readfile(path):
    dirs = os.listdir(path)
    column_names = ['label', 'text']
    data_ = []
    data = []
    for d in dirs:
        if os.path.isdir(os.path.join(path, d)):
            path_d = path + d + '/'
            files = os.listdir(path_d)
            docs = ''
            for file in files:
                if os.path.isfile(os.path.join(path_d, file)):
                    doc = ''
                    f = open(os.path.join(path_d, file),'r')
                    for line in f:
                        if len(line)>0:
                            line = re.sub('[^a-zA-Z]', ' ', line)
                            words = []
                            for word in line.split():
                                if len(word)>1:
                                    word = word.strip().lower()
                                    words.append(word)
                            line = ' '.join(words)
                            doc = doc + " " + line
                row = [d, doc.strip()]
                docs = docs + " " + doc
                data.append(row)
            row_ = [d, docs.strip()]
            data_.append(row_)
    df_ = pd.DataFrame(data_, columns=column_names)
    df = pd.DataFrame(data, columns=column_names)
    return df_, df
                            
path_train = 'data/C50/C50train/'
path_test = 'data/C50/C50test/'   
df_train_, df_train = readfile(path_train)
df_test_, df_test = readfile(path_test)

In [73]:
df_train_.shape, df_train.shape, df_test_.shape, df_test.shape

((50, 2), (2500, 2), (50, 2), (2500, 2))

In [74]:
len(df_train_.iloc[0, 1]), len(df_train.iloc[0, 1]), len(df_test_.iloc[0, 1]), len(df_test.iloc[0,1])

(138599, 1912, 149858, 3593)

In [75]:
df_train_[:3]

            label                                               text
0   AaronPressman  the internet may be overflowing with new techn...
1      AlanCrosby  it may be only the second qualifier on the lon...
2  AlexanderSmith  financial services and property group liberty ...

In [76]:
df_train[:3]

           label                                               text
0  AaronPressman  the internet may be overflowing with new techn...
1  AaronPressman  the postal service announced wednesday plan to...
2  AaronPressman  elementary school students with access to the ...

In [77]:
df_test_[:3]

            label                                               text
0   AaronPressman  senators on tuesday sharply criticized new sec...
1      AlanCrosby  markets across eastern europe remained mired i...
2  AlexanderSmith  britain commercial property market may be impr...

In [78]:
df_test[:3]

           label                                               text
0  AaronPressman  senators on tuesday sharply criticized new sec...
1  AaronPressman  two members of congress criticised the federal...
2  AaronPressman  commuters stuck in traffic on the leesburg pik...

In [79]:
labels = list(df_train_['label'])
print(labels)

['AaronPressman', 'AlanCrosby', 'AlexanderSmith', 'BenjaminKangLim', 'BernardHickey', 'BradDorfman', 'DarrenSchuettler', 'DavidLawder', 'EdnaFernandes', 'EricAuchard', 'FumikoFujisaki', 'GrahamEarnshaw', 'HeatherScoffield', 'JaneMacartney', 'JanLopatka', 'JimGilchrist', 'JoeOrtiz', 'JohnMastrini', 'JonathanBirt', 'JoWinterbottom', 'KarlPenhaul', 'KeithWeir', 'KevinDrawbaugh', 'KevinMorrison', 'KirstinRidley', 'KouroshKarimkhany', 'LydiaZajc', "LynneO'Donnell", 'LynnleyBrowning', 'MarcelMichelson', 'MarkBendeich', 'MartinWolk', 'MatthewBunce', 'MichaelConnor', 'MureDickie', 'NickLouth', 'PatriciaCommins', 'PeterHumphrey', 'PierreTran', 'RobinSidel', 'RogerFillion', 'SamuelPerry', 'SarahDavison', 'ScottHillis', 'SimonCowell', 'TanEeLyn', 'TheresePoletti', 'TimFarrand', 'ToddNissen', 'WilliamKazer']

In [80]:
X_train = df_train['text']
y_train = df_train['label']
X_test = df_test['text']
y_test = df_test['label']

In [94]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.metrics import normalized_mutual_info_score
from sklearn.metrics import confusion_matrix
from sklearn.svm import LinearSVC

vectorizer = CountVectorizer(binary=True, ngram_range=(1, 2), min_df=5)
vectorizer.fit(X_train)
X_train_vec = vectorizer.transform(X_train)
X_test_vec = vectorizer.transform(X_test)


# svm = LinearSVC(max_iter=10000)
# svm = LogisticRegression(max_iter=10000)
svm = LinearRegression()
# svm = MultinomialNB()

prob = svm.fit(X_train_vec, y_train)
y_pred_svm = svm.predict(X_test_vec)


print("Accuracy:", accuracy_score(y_test, y_pred_svm))

ValueError: could not convert string to float: 'AaronPressman'

In [ ]:
print(pd.DataFrame(confusion_matrix(y_test, y_pred_svm)).loc[10:25, 10:25])

In [ ]:
print("normalized_mutual_info_score between predict and test:", normalized_mutual_info_score(y_test, y_pred_svm))